node_modules
dist

# ESLint cache file
.eslintcache

# Ensure NPM lockfile isn't included by mistake - prefer yarn.lock
package-lock.json

# Any log files
*.log

coverage

.env
ormconfig.json

.vscode/settings.json

.DS_Store
